{% extends '::layout.html.twig' %}

{% block content %}
    <h1 class="text-center">{{ article.title }}</h1>

    <article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
        <header>
            <figure class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                <img class="img-responsive" src="{{ article.postThumbnail }}" alt="picture" width="100%" height="250" title="{{ article.title }}">

            </figure>
        </header>

        <p>{{ article.content }}</p>
        <footer>
            <p>Released on {{ article.createdAt|date }} in <a href="{{ url('category_show', {'id': category.id}) }}"> {{ category.name }} </a> category</p>
            <p>Tags:
            {% for tag in tags %}
                {{ tag.name }},
            {% endfor %}
            </p>
        </footer>

    </article>

{% endblock %}
